<div id="app"></div>
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="refresh" content="120">
</meta>
</meta>
<title>Bootstrap example</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>React Local</title>
<<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin>
</script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script type="application/javascript" src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>

<body>

    <script type="text/babel">
    const rootElement = document.getElementById("userIdField");
    class Login extends React.Component{
        render(){
            if(this.props.type=="id"){ return (  
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>UserId</label>
                        <input type="text" class="form-control" placeholder="Name" id="uid" name="uid" required
                            minlength="1" data-validation-required-message="Please enter your Id.">
                        </input>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                     )}
                     if(this.props.type=="mail"){ return( 
                <div class="control-group">
                    <div class="form-group controls">
                        <label>Email Address(Optional)</label>
                        <input type="email" class="form-control" placeholder="Email Address" id="uid" name="uid" 
                            data-validation-required-message="Please enter your email address.">
                        </input>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                ) }
           
        }
    }
        function App(){
            return(
                <div>
               <Login type="id"/>
                    </div>
            )
        }
    
    ReactDOM.render(
        <App/>,rootElement
    )
    </script>


    <script>
        $(document).ready(
            function () {
                // alert ('hi');

            });
        $(document).ready(
            function () {
                $("#checkWeather1").click(
                    function () {
                        var str = $("#form1").serialize();
                        console.log(str);
                        // alert('pls wait ' + str);
                    });
            }
        );



        $(document).ready(function () {
            $("#checkWeather").click(function () {

                $.ajax(
                    {
                        url: "http://api.openweathermap.org/data/2.5/weather?units=metric&q=" + $("#city").val() +
                            "&appid=7ce6041ebabda209af72ac595c6145e8", async: false,
                        success: function (result) {
                            //2643741
                            var clime = result.weather[0].main;
                            var temp = result.main.temp;
                            var toAppend = $("#weather").text().substring(0, 6).concat(clime + ">" + temp);
                            // .substring(1,7).append(clime + "-" + temp);
                            $("#weather").text(toAppend);
                            // $("#weather").text (result.main.temp);
                        }
                    });


            });
        });
    </script>


    <nav class="navbar navbar-expand-lg bg-light navbar-light sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navButtons">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navButtons">
                <ul class="navbar-nav ml-auto">
                    <li>
                        <h6 class="p-2"><a href="MoreInfo.html">About</h6></a>
                    </li>
                    <li>
                        <a href="#">
                            <h6 class="p-2">Call</h6>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-2">
            <div id="login">
                <form action="/loginSubmit2" name="sentMessage" id="loginForm" method="post" novalidate>
                    <div id="userIdField">
                    </div>

                    <div class="control-group">
                        <div class="form-group controls">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="" name="pw" id="password" 
                                data-validation-required-message="Please enter your email address." >
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>


    <div class="band">
        <h4>Your Guide to knowledge</h4>
    </div>

    <div class="container-fluid">
        <div class="row text-left padding">
            <div class="col-md-6 padding">
                <div id="form1">
                    <div class="form-group">
                        <label for="city">City Code</label>
                        <input type="text" class="form-control" id="city">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Date:</label>
                        <input type="date" class="form-control" id="date">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Retry</label>
                    </div>
                    <button id="checkWeather" class="btn btn-primary">Submit</button>
                    <div class="col-md-12 lg-12 ">
                        <h3 id="weather" class="bg-dark text-muted p-2 mb-2 mt-2 ml-auto " id="temp">Temp : </h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6 padding">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/97/G%C3%B6ttingen_Aula_2005.jpg"
                    class="img-fluid img-small">
                </img>
            </div>
        </div>
    </div>




    <div class="band">
        <h4>The Best of Campus'</h4>
    </div>
    <div id="root2">

    </div>
    <div class="band">
        <h4>Your choice of Commutes</h4>
    </div>

    <div class="container-fluid">
        <div class="row text-center padding">
            <div class="col-md-4 col-lg-4 col-sm-12 padding">
                <div class="card mb3 text-center">
                    <div class="card-header mb-4 ">
                        <p class="lead">
                            <h4>Drive yourselves</h4>
                        </p>
                    </div>
                    <div class="card-body mb-4">
                        <p></p>
                        <h6 class="dispay-2">You might have to look for a driving licence
                            in the new place. In case you rely on an international licence from your home country
                            make sure if it is tenable in the host country.
                        </h6>
                        </p>
                        <button id="carQuery1" class="btn-primary btn-lg btn ">Click for More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 padding">
                <div class="card mb3 text-center">
                    <div class="card-header mb-4">
                        <p class="lead">
                            <h4>Public Transportation</h4>
                        </p>
                    </div>
                    <div class="card-body mb-2">
                        <h6>Most Campus cities provide excellent public transportation facilities, such as trams
                            buses and underground metros. The more ancient towns may not be capable of being adapted
                            into the most modern transportation, though. But it is more than compensated for by the
                            beautiful walkways and cycle tracks.
                        </h6>
                        <a><button class="btn-outline-light btn-lg">More Info</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12">
                <div class="card mb3 text-center">
                    <div class="card-header mb-4">
                        <p class="lead">
                            <h4>Cycle/Walk</h4>
                        </p>
                    </div>
                    <div class="card-body mb-2">
                        <h6>It is one of the best ways to experience campus life, the traditional disciple way,
                            keeping
                            it
                            simple, humble and in these times of environmental awareness - quite cool.
                        </h6>
                        <a><button class="btn-success btn-lg">More Info</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>

</html>